.container {
  color: rgb(65, 65, 65);
  background-color: #181610;
  padding: 30px;
  font-family: sans-serif;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.blockTabs {
  flex-wrap: wrap;
  white-space: pre-wrap;
  color: rgb(65, 65, 65);
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.tabs,
.activeTab {
  flex: 1;
  margin: 5px;
  padding: 10px;
  border-radius: 4px;
  background-color: #2a261e;
  border: 1px solid rgb(65, 65, 65);
  color: #dc4498;
  transition:
    background-color 0.3s,
    border-color 0.3s,
    opacity 0.2s ease;
}

.tabs:hover,
.activeTab:hover {
  opacity: 0.8;
  cursor: pointer;
}

.activeTab {
  background-color: #dc4498;
  color: #181610;
}

.content {
  display: none;
}

.activecontent {
  display: block;
  flex: 1;
}

h2 {
  color: rgb(65, 65, 65); /* Match main page text color */
  font-family: sans-serif; /* Match main page font */
  font-weight: 400; /* Match main page font weight */
}
