.title {
  font-size: 16px;
  color: rgb(49, 49, 49);
  margin-top: 7px;
}

.input {
  background-color: #181610;
  border: 1px solid rgb(49, 49, 49);
  padding: 15px;
  border-radius: 8px;
  color: rgb(49, 49, 49);
  font-family: sans-serif;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.result {
  font-size: 13px;
  color: rgb(49, 49, 49);
  margin-top: 5px;
}

.initiativeSelecter {
  background-color: #2a261e;
  border: 1px solid rgb(49, 49, 49);
  color: #dc4498;
  padding: 5px;
  border-radius: 4px;
  margin-right: 10px;
}

.rollButton {
  background-color: #2a261e;
  border: 1px solid rgb(49, 49, 49);
  color: #dc4498;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition:
    background-color 0.3s,
    border-color 0.3s;
}

.rollButton:hover {
  background-color: #dc4498;
  color: #181610;
}

.rollButton:active {
  background-color: #dc4498;
  border-color: #181610;
}
.resultText {
  color: #dc4498;
}
