/* LimitDiceRoller.module.css */

.button {
  background-color: #2a261e;
  border: 1px solid rgb(65, 65, 65);
  color: #dc4498;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition:
    background-color 0.3s,
    border-color 0.3s;
}

.button:hover {
  background-color: #dc4498;
  color: #181610;
}

.button:active {
  background-color: #dc4498;
  border-color: #181610;
}

.results {
  font-size: 13px;
  color: rgb(65, 65, 65);
  margin-top: 5px;
}

.successes {
  font-size: 13px;
  color: #dc4498;
  margin-top: 5px;
}

.rolls {
  color: rgb(65, 65, 65);
}

.success {
  color: #dc4498;
  font-weight: bold;
}

.fail {
  color: rgb(65, 65, 65);
}
