.characterContainer {
  margin-bottom: 20px;

  display: flex;
  flex-direction: column;
}

.characterHeader {
  display: flex;
  align-items: center;

  margin-bottom: 10px;
}

.characterHeader h2 {
  margin-right: 10px;
}

.characterHeader h3 {
  margin: 0;
}

.healthRow,
.willpowerRow {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.healthBox {
  margin-right: 5px;
}

.bodyBox {
  margin-left: 5px;
}

.gap {
  width: 20px;
}

.willpowerBox {
  margin-right: 5px;
}
