.popup {
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(65, 65, 65);
  border: 3px solid rgb(65, 65, 65);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 70%;

  overflow: hidden;
}

.nameButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #181610;
  border: none;
  color: rgb(45, 45, 45);
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: -7px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.nameButton:hover {
  background-color: #2a261e;
  color: rgb(202, 191, 191);
}

.closeButton {
  border-radius: 4px;
  font-family: sans-serif;
  border: none;
  font-weight: bold;
  font-size: 20px;
  color: #dc4498;
  cursor: pointer;
  background: none;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.closeButton:hover {
  background-color: #dc4498;
  color: #181610;
}

.content {
  flex-grow: 1;
  overflow: auto;
  padding: 10px;
  color: rgb(65, 65, 65);
}

.footer {
  height: 30px;
}

.dialogName {
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding-left: 10px;
  font-weight: bold;
  color: #dc4498;
}
