.form {
  background-color: rgb(65, 65, 65);
  color: #aa5151;
  font-family: "Arial", sans-serif;
  padding: 10px;
  border-radius: 8px;
}
.header {
  display: inline-block;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 5px;

  color: #e6e6e6;
  font-weight: bold;
  text-align: center;
}
.label {
  font-size: 20px;
  padding: 5px;
}
.input {
  flex: 1;
  margin: 5px;
  padding: 10px;
  border-radius: 4px;
  background-color: #2a261e;
  border: 1px solid rgb(65, 65, 65);
  color: #dc4498;
  transition:
    background-color 0.3s,
    border-color 0.3s,
    opacity 0.2s ease;
}
.input:hover {
  opacity: 0.8;
  cursor: pointer;
}
.nameInput {
  flex: 1;

  padding: 10px;
  border-radius: 4px;
  background-color: #2a261e;
  border: 1px solid rgb(65, 65, 65);
  color: #dc4498;
  transition:
    background-color 0.3s,
    border-color 0.3s,
    opacity 0.2s ease;
}
.text {
  font-size: 20px;
  padding: 5px;
}
.hidden {
  display: none;
}
