.container {
  background-color: #181610;
  color: rgb(65, 65, 65);
  padding: 15px;
  border-radius: 8px;
}

.header {
  color: rgb(65, 65, 65);
  margin-bottom: 10px;
}

.separator {
  border: 1px solid rgb(65, 65, 65);
  margin-bottom: 15px;
}
