.sidebar {
  background-color: rgb(45, 45, 45);
  color: #fff;
  width: 220px;
  position: fixed;
  right: 10px;
  top: 0;
  bottom: 0;
  display: flex;
  border-radius: 8px;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 109px;
}

.sidebarTopActions {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 10px;
  background-color: rgb(45, 45, 45);
  width: 100%;
  box-sizing: border-box;
}

.sidebarTopActions button {
  color: rgb(45, 45, 45);
  margin-bottom: 5px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.sidebarTopActions button:hover {
  background-color: #2a261e;
  color: rgb(202, 191, 191);
}

.tabs {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  overflow-y: auto;
  max-height: calc(100vh - 200px);
}

.tabs::-webkit-scrollbar-track {
  background: transparent;
}

.tab {
  background-color: rgb(45, 45, 45);
  color: rgb(124, 124, 124);
  padding: 10px 20px;
  width: 100%;
  font-weight: bold;
  text-align: left;
  cursor: pointer;
  border: none;
  outline: none;
  transition: background-color 0.3s ease;
  margin-bottom: 5px;

  position: relative;
}

.tab:hover,
.tab.active {
  background-color: #181610;
  color: #dc4498;
  font-weight: bold;
}

.tab.active::before {
  content: "";
  position: absolute;
  left: -15px;
  top: 50%;
  transform: translateY(-50%);
  height: 20px;
  width: 4px;
  background-color: #dc4498;
  border-radius: 3px;
  z-index: 1;
}
.contextMenu {
  position: fixed;
  background-color: rgb(127, 25, 25);
  border: 1px solid gray;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: block;

  padding: 0;
  margin: 0;
}

.contextMenu button {
  display: block;
  background: none;
  width: 100%;
  border: none;

  padding: 6px 10px;
  text-align: left;
  cursor: pointer;
}

.contextMenu button:hover {
  background-color: #f0f0f0;
}

.addTabButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #181610;
  border: none;
  color: rgb(49, 49, 49);
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: -7px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.addTabButton:hover {
  background-color: #2a261e;
  color: rgb(202, 191, 191);
}
