.popup {
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(202, 191, 191);
  border: 3px solid rgb(162, 19, 19);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 50%;
}

.header {
  padding: 5px;
  border-bottom: 1px solid rgb(162, 19, 19);
  display: flex;
  justify-content: flex-end;
}

.closeButton {
  font-family: "Lucida Sans Unicode";
  border: none;
  font-weight: bolder;
  font-size: 20px;
  color: rgb(49, 49, 49);
  background-color: rgb(202, 191, 191);
}

.closeButton:hover {
  color: rgb(112, 112, 112);
}

.content {
  flex-grow: 1;
  overflow: auto;
  padding: 10px;
}

.resizer {
  position: absolute;
}

.resizerL {
  left: 0;
  top: 0;
  bottom: 0;
  width: 5px;
  cursor: ew-resize;
}

.resizerR {
  right: 0;
  top: 0;
  bottom: 0;
  width: 5px;
  cursor: ew-resize;
}

.resizerT {
  top: 0;
  left: 0;
  right: 0;
  height: 5px;
  cursor: ns-resize;
}

.resizerB {
  bottom: 0;
  left: 0;
  right: 0;
  height: 5px;
  cursor: ns-resize;
}
.resizerTL {
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  cursor: nwse-resize;
}

.resizerTR {
  top: 0;
  right: 0;
  width: 10px;
  height: 10px;
  cursor: nesw-resize;
}

.resizerBL {
  bottom: 0;
  left: 0;
  width: 10px;
  height: 10px;
  cursor: nesw-resize;
}

.resizerBR {
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  cursor: nwse-resize;
}
.footer {
  height: 30px;
}
